@media (max-width: 1350px) {
  .front-page {
    max-width: 1200px;
  }
}
@media only screen and (max-width: 820px) {
  html,
  body,
  section {
    width: 820px;
    text-wrap: balance;
    overflow-x: hidden;
  }
  .btn-login {
    transform: translate(36px, 32px);
    margin-left: 12px;
  }
  .hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .primary-heading {
    font-size: 52px;
    width: 600px;
    transform: translate(-60%, -200px);
  }
  .hero-description {
    transform: translate(-100%, -100%);
    width: 580px;
  }
  .more-btn {
    transform: translate(-60px, 96px);
  }
  .search-container {
    width: 600px;
    transform: translateX(-80px);
  }
  .cat {
    width: 780px;
    margin-left: 20px;
  }
  .speciality {
    width: 780px;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 48px;
    row-gap: 36px;
  }
  .secondary-head {
    text-align: center;
    transform: translateX(-72px);
  }
  .tertiary-head {
    transform: translateX(48px);
  }
  .chair-container,
  .grid-4-col,
  .product-container {
    padding-left: 48px;
    width: 780px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
  }
  .product-image {
    width: 100%;
    height: 200px;
  }
  .grid-2-col {
    width: 780px;
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
  .sofa-head-img {
    width: 560px;
    height: 400px;
    margin-left: 52px;
  }
  .cards :last-child {
    margin-bottom: 96px;
  }
  .chair-container,
  #sofa-section,
  #bed-section {
    padding-bottom: 96px;
  }
  .third-section {
    width: 780px;
    grid-template-columns: 0.7fr 1.5fr;
    gap: 18px;
  }
  .sale {
    width: 300px;
  }
  .customer-head {
    font-size: 40px;
  }
  .service-support {
    width: 780px;
  }
  .grid-2 {
    grid-template-columns: 1fr;
  }
  .sl {
    display: none;
  }
  .sofa-sell {
    margin-left: 48px;
  }
  .testimonials-section {
    display: none;
  }
  .wrapper {
    width: 780px;
    transform: translate(-90px);
  }
  .cards {
    width: 780px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .wrapper h5 {
    margin-top: 24px;
  }
  .quote {
    transform: translateY(88px);
  }
  .ts-head {
    transform: translateX(-36px);
  }
  .buyer-footer {
    transform: translateX(-36px);
  }
  #shelf-section .secondary-sofa-head {
    transform: translateX(-64px);
  }
  .grid--footer {
    grid-template-columns: repeat(3, 1fr);
    width: 780px;
    margin: 0 auto;
    transform: translateX(-48px);
  }
  .logo-footer {
    font-family: "Niconne";
    font-size: 48px;
    color: #444;
  }
}
@media only screen and (max-width: 440px) {
  html,
  body,
  section {
    width: 414px;
    text-wrap: balance;
    overflow-x: hidden;
  }
  #shelf-section .secondary-sofa-head {
    transform: translateX(8px);
  }
  .hero {
    display: flex;
  }
  .section-hero {
    background-repeat: no-repeat;
  }
  .primary-heading {
    text-align: center;
    font-size: 32px;
  }
  .header a .logo {
    transform: translate(-24px, -24px);
  }
  .btn-login {
    transform: translate(56px, 12px);
    margin-left: 12px;
  }
  .logo-header {
    display: none;
  }
  .hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .primary-heading {
    position: absolute;
    font-size: 40px;
    top: 5%;
    left: -20%;
    transform: translate(-50%, -200px);
    width: 400px;
  }
  .hero-description {
    color: #f3f3f3;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-380px, -50%);
    width: 380px;
    font-size: 17px;
  }
  .more-btn {
    transform: translate(-60px, 70px);
  }
  .search-container {
    width: 400px;
    transform: translateX(-100px);
  }
  .cat {
    width: 390px;
    margin-left: 12px;
  }
  .secondary-head {
    transform: translateX(8px);
    text-align: center;
  }
  .category {
    padding: 18px;
    width: 390px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .cat-container {
    padding: 0;
    transform: translateX(-24px);
  }
  .tables {
    grid-column: 1 / span 2;
  }
  .second-page {
    width: 414px;
  }
  .speciality {
    width: 390px;
    grid-template-columns: 1fr;
    row-gap: 36px;
  }
  .grid-4-col,
  .product-container {
    padding-left: 18px;
    width: 390px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
  }
  .product-box {
    margin-top: 12px;
    padding: 16px;
  }
  .product-image {
    height: 135px;
  }
  .tertiary-head {
    transform: translateX(-4px);
    text-align: center;
  }
  .grid-2-col {
    width: 390px;
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
  .chair-container {
    width: 390px;
    padding-left: 18px;
    grid-template-columns: repeat(2, 1fr);
  }
  .si {
    padding: 0 20px;
    transform: translateX(-18px);
  }
  .sofa-sell {
    width: 390px;
    transform: translateX(-36px);
    overflow: hidden;
  }
  .customer-head,
  .customer-text {
    width: 380px;
  }
  .sofa-head {
    font-weight: 500;
    text-wrap: nowrap;
    transform: translateX(-8px);
  }
  .third-section {
    grid-template-columns: 1fr;
    width: 390px;
  }
  .sofa-head-img {
    width: 366px;
    height: 244px;
    margin-left: -12px;
  }
  .support-text {
    margin: 0 48px;
  }
  .sb-icon2,
  .sb-icon {
    width: 75px;
    height: 75px;
  }
  .sb-head {
    font-size: 20px;
  }
  .ts-head {
    transform: translateX(6px);
  }
  .wrapper h5 {
    margin: 32px 0;
    transform: translateX(-96px);
  }
  .cards {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    transform: translateX(-90px);
  }
  .card {
    background: #f5f5f5;
  }
  .cards :last-child {
    margin-bottom: 96px;
  }
  .testimonials-section {
    display: none;
  }
  .buyer-footer {
    flex-direction: column;
    transform: translateX(-52px);
  }
  .grid--footer {
    width: 390px;
    grid-template-columns: repeat(2, 1fr);
    transform: translateX(8px);
  }
  .logo-col {
    grid-column: 1 / span 2;
  }
  .logo-footer {
    font-family: "Niconne";
    font-size: 36px;
    text-align: center;
    color: #444;
  }
  .social-links {
    margin: 0 auto;
  }
  .copyright {
    text-align: center;
    margin-top: 18px;
  }
  .forgot-pwd,
  .signup-form,
  .login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f1f1f1;
    color: #444;
  }
  .forgot-pwd form .field label,
  .signup-form form .field label,
  .login-form form .field label {
    color: #444;
  }
  .login-form form .field input:focus ~ label,
  .login-form form .field input:valid ~ label,
  .signup-form form .field input:focus ~ label,
  .signup-form form .field input:valid ~ label,
  .forgot-pwd form .field input:focus ~ label,
  .forgot-pwd form .field input:valid ~ label {
    color: #444;
  }
  #sofa-section,
  #bed-section {
    padding-bottom: 96px;
  }
  .grid-2 {
    grid-template-columns: 1fr;
  }
  .sl {
    display: none;
  }
}
